/* loading */
.loading::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 2.5px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  animation: loading-button-spinner 1s linear infinite;
}

@keyframes loading-button-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
