.container {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.contentContainer {
  padding: 4px 8px;
}

.contentContainer .topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentContainer .topSection .leftSection {
  display: flex;
  align-items: center;
}

.commentBodyWrapper {
  white-space: pre-wrap;
  font-size: 9pt;
}
