.container {
  padding: 7px;
  background-color: whitesmoke;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.actionsWrapper {
  display: flex;
  justify-content: space-between;
  font-size: 8pt;
  line-height: 1;
}

.leftSection {
  display: flex;
  align-items: center;
}

.leftSection .repliesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.repliesContainer span.repliesCount {
  margin-left: 6px;
  color: dimgrey;
  font-weight: 500;
  font-family: inherit;
}

.moreOptionsButton {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: brown;
}

.deleteMenuOption {
  color: var(--error);
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: var(--popupmenu-font-size);
  font-weight: 600;
}

.deleteMenuOption span {
  margin-left: 5px;
}
