.formControl {
  width: 100%;
  margin-bottom: 10px;
}

.formControl.checkboxControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1;
  margin: 12px 0;
  background-color: var(--light-grey);
  padding: 12px 14px;
  border-radius: 7px;
}

.formControl.invalid .input,
.formControl.invalid .input:hover {
  border-color: var(--red);
}

.formControl .labelWrapper {
  font-size: 11.5pt;
  color: dimgray;
  user-select: none;
}

.formControl .labelWrapper .labelContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 6px 0;
}

.formControl.checkboxControl .labelWrapper .labelContent {
  margin: 0 10px 0 0;
  font-size: 10.5pt;
}

.formControl .labelWrapper .labelContent .labelCountText {
  color: #acacac;
  font-size: 9pt;
  margin-left: 8px;
}

.formControl .input {
  font-family: system-ui;
  position: relative;
  width: 100%;
  outline: 0;
  border: 0;
  transition: background-color 0.2s ease;
  font-size: 11pt;
  padding: 10px 12px;
  background-color: var(--light-grey);
  border-radius: 10px;
  border: 2px solid transparent;
}

.formControl textarea.input {
  resize: vertical;
}

.formControl .input:disabled {
  opacity: 0.8;
}

.formControl .input:enabled:hover,
.formControl .input:enabled:focus {
  background-color: var(--grey);
}

.formControl .input:enabled:focus {
  border-color: rgb(49, 130, 206);
}

/* form submit section */
.submitSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

/* errors */
.formControl .errorContainer {
  color: var(--red);
  margin-top: 5px;
  font-size: 10pt;
}

/* helper */
.formControl .helperText {
  font-size: 9pt;
  color: grey;
  margin-top: 3px;
}

/* toggle password visibility button */
.togglePassword {
  display: flex;
  align-items: center;
  line-height: 1.5;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: white;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  background-color: burlywood;
  padding: 2px 6px;
  font-size: 11px;
  border-radius: 7px;
}

.togglePassword:enabled:hover {
  opacity: 0.9;
}

.togglePassword:enabled:active {
  opacity: 0.8;
}
