@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --color-button-text: #fff;

  --color-primary-50: #f9fafb;
  --color-primary-100: #f3f4f6;
  --color-primary-200: #e5e7eb;
  --color-primary-300: #d1d5db;
  --color-primary-400: #9ca3af;
  --color-primary-450: #8891a0;
  --color-primary-500: #6b7280;
  --color-primary-600: #4b5563;
  --color-primary-700: #374151;
  --color-primary-800: #1f2937;
  --color-primary-900: #111827;

  --color-secondary-transparent: rgba(222, 184, 135, 0.15);
  --color-secondary-50: #deb887;
  --color-secondary-100: #c5a289;
  --color-secondary-200: #b98f71;
  --color-secondary-300: #ae7d5a;
  --color-secondary-400: #a26a42;
  --color-secondary-500: #97582b;
  --color-secondary-600: #8b4513;
  --color-secondary-700: #6f370f;
  --color-secondary-800: #53290b;
  --color-secondary-900: #381c08;

  --color-accent-transparent: rgb(165, 42, 42, 0.15);
  --color-accent-washed-out: #b75555;
  --color-accent-hover: #ae3f3f;
  --color-accent: #a52a2a;

  /* Fonts */
  --cursive-font: "Kaushan Script", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

@layer utilities {
  .heading {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 2pt;
    color: var(--color-primary-600);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  overflow-x: hidden;
}

*::placeholder {
  user-select: none;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

/* NProgress */
#nprogress .bar {
  background: brown !important;
}

#nprogress .spinner-icon {
  border-top-color: brown !important;
  border-left-color: brown !important;
}

/* Toastify */
.toast-component {
  font-family: inherit;
  font-weight: 500;
  font-size: 11.5pt;
}
