.container {
  margin-bottom: 8px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.contentContainer {
  padding: 12px 12px 6px 12px;
  display: flex;
}

.postCreator {
  display: flex;
  align-items: flex-start;
  font-size: 8pt;
  line-height: 1.5;
  color: #a0a0a0;
}

.postContent {
  margin-top: 2px;
  font-size: 9pt;
  white-space: pre-wrap;
}

.postHeader {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}
