.container {
  margin-bottom: 8px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}

.contentContainer {
  padding: 12px 12px 6px 12px;
  display: flex;
}

.postCreatorAvatar {
  width: 32px;
  height: 32px;
  border-radius: 35%;
  margin-right: 12px;
}

.postCreatorContainer {
  cursor: pointer;
}

.postContent {
  font-size: 9pt;
  white-space: pre-wrap;
}

.postHeader {
  display: flex;
  align-items: center;
  font-size: 10pt;
  line-height: 1.5;
  color: #a0a0a0;
}
