.container {
  background-color: whitesmoke;
  border-radius: 15px;
  color: var(--main-dark);
}

.container .mainSection {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container .topBannerSection {
  width: 100%;
  border-radius: 15px 15px 0 0;
  backdrop-filter: blur(0px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container .topBannerSection .topBannerWrapper {
  padding: 10px;
  height: 80px;
  position: relative;
  border-radius: inherit;
  backdrop-filter: blur(32px);
}

.container .topBannerSection .topBannerWrapper .userAvatar {
  border-radius: 50%;
  border: 2px solid whitesmoke;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -25px;
  left: 10px;
}

.container .mainSection .middleSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.container .mainSection .middleSection .specialActionButton {
  margin: 10px;
}

.container .mainSection .middleSection .userInfo {
  margin-left: 10px;
  margin-top: 25px;
}

.userInfo .usernameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.userInfo .usernameContainer .username {
  font-weight: 700;
  font-family: inherit;
  font-size: 9.5pt;
}

.userInfo .usernameContainer .username::after {
  content: "·";
  margin: 0 4px;
  color: grey;
}

.userInfo .usernameContainer .uid {
  font-size: 9pt;
  line-height: 1.75;
}

.userInfo .followContainer {
  font-size: 9pt;
}

.bioContainer {
  font-size: 9.5pt;
  border-top: 1px solid #e4e4e4;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 8px 10px;
  color: grey;
}

.additionalInfoContainer {
  display: flex;
  font-size: 8.5pt;
  border-top: 1px solid #e4e4e4;
  padding: 8px 10px;
  flex-direction: column;
}

.additionalInfoContainer .infoItem {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.additionalInfoContainer .infoItem:last-child {
  margin-bottom: 0;
}

.additionalInfoContainer .infoItem .icon {
  margin-right: 4px;
}
